
/* RESET */
*{
	margin: 0;
	padding: 0;
	font-family: 'Arsenal', sans-serif;
	box-sizing: border-box;
	outline: none;
}
img{
	max-width: 100%;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
h2{
	font-size: 2.5em;
	color: #333;
}
h3{
	font-size: 1.5em;
	color: #333;
}
p{
	font-size: 1.3em;
	color: #777;
}
/* body{ */
	/* background: url('../img/ponte1.jpg') no-repeat; */
	/* background-size: cover; */
/* } */
/* CABEÇALHO */
#cabecalho{
	width: 100%;
	float: left;
	padding: 10px 3%;
	background: #003894;
}
.logo{
	width: 179px;
	height: 150px;
	float: left;
	background: url('../img/logomarcaMaior.png') no-repeat;
}
.nome{
	width: 70%;
	font-size: 2.8em;
	font-weight: regular bold;
	text-shadow: 3px 2px black;
	margin: 30px 0 0 15px;
	color: #ffffff;
}

/* MENU */
#navegacao{
	width: 100%;
	float: left;
	padding: 0px 2%;
	background: #006ef6;
}
#navegacao ul{
	float: left;
}
#navegacao li{
	float: left;
	margin: 10px;
	padding: 5px;
}
#navegacao a{
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: bold;
	color: #ffffff;
}
#navegacao a:hover{
	color: #9ad8ff;
}

/* Social-Icons */
.icones-sociais{
	float: right;
	margin-top: 10px;
}
.icones-sociais a{
	color: #fff;
	margin-left: 15px;
}
.btn-youtube:hover{
	color: #E62117;
}
.btn-facebook:hover{
	color: #3b5998;
}
.btn-twitter:hover{
	color: #54A4D6;
}
.btn-google:hover{
	color: #d73d32;
}

/* PLATAFORMA 1*/
#plataforma1{
	width: 100%;
	float: left;
	padding: 3px;
	background: #4b4d43;
}

/* SLIDE */
#slide{
	width: 100%;
	margin: 2% auto 0;
	padding: 20px;
	float: left;
	background: #dce9fa;
}
#slide img{
	width: 1000px;
	height: 380px;
}
/*Os dois blocos superiores definem como irão aparecer
Enquanto os abaixo definem o efeito de slideshow em CSS puro.*/
.galeria{
	margin: 0 auto;
	width: 1000px;
	height: 380px;
	position: relative;
	overflow: hidden;
}
.imagem{
	position: absolute;
	opacity: 0;
	-webkit-animation: animacao 25s infinite;
	-moz-animation: animacao 25s infinite;
	-o-animation: animacao 25s infinite;
	animation: animacao 25s infinite;
}
.imagem:nth-child(1){
	
}
.imagem:nth-child(2){
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	-o-animation-delay: 5s;
	animation-delay: 5s;
}
.imagem:nth-child(3){
	-webkit-animation-delay: 10s;
	-moz-animation-delay: 10s;
	-o-animation-delay: 10s;
	animation-delay: 10s;
}
.imagem:nth-child(4){
	-webkit-animation-delay: 15s;
	-moz-animation-delay: 15s;
	-o-animation-delay: 15s;
	animation-delay: 15s;
}
.imagem:nth-child(5){
	-webkit-animation-delay: 20s;
	-moz-animation-delay: 20s;
	-o-animation-delay: 20s;
	animation-delay: 20s;
}

@keyframes animacao{
	25%{
		opacity: 1;
	}
	75%{
		opacity: 0;
	}
}

/* PRINCIPAL */
#principal{
	width: 60%;
	float: left;
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 3%;
	padding: 2%
}
#principal h2{
	float: left;
	text-align: center;
}
.texto{
	text-indent: 5em;
	text-align: justify;
}

/* LATERAL */
#lateral{
	margin-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
	width: 24%;
	float: left;
	background: #dce9fa;
}
#lateral iframe{
	float: left;
	width: 100%;
}

/* PLATAFORMA */
#plataforma{
	width: 100%;
	float: left;
	padding: 15px 3%;
	background: #222;
}

/* RODAPE */
#rodape{
	width: 100%;
	float: left;
	padding: 15px 3%;
	background: #003894;
}
#rodape p{
	color: #fff;
	font-family: 'Trebuchet MS';
	font-size: 1em;
	text-align: right;
}